@import "./variables";


footer {
  width: 100%;
  background: $primary;
  color: $secondary;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  



}

footer h2 {
  font-size: 16px;
  font-weight: 500;
  color: $secondary;
  margin-bottom: 20px;
  padding: 0;

}

.footerFlexContainer {
display: flex;
justify-content: center;
align-items: center;

}

/*  About  */

.footerAbout {
  width: 15%;
  margin-right: 30px;

}

.footerAbout img {
  height: 26px;
  width: 125px;

}

.footerAbout p {
  font-size: 12px;
  color: $secondary;
  margin: 20px 0 20px 0;
  padding: 0;
  

}

.icon {
  display: flex;

}

.icon a img {
      height: 10px;
      width: 100%;
      margin: 0 15px 0 0; 

  }

  span img {
    height: 10px;
    width: 10px;
    margin-right: 10px;

  }

  /* Contact*/


.footerContact {
  margin: 20px 0 30px 15px;
  width: 15%;

 
}

.footerContact li {

  padding-bottom: 8px;

        a {
 
  color: $secondary;
  font-size: 12px;
  text-decoration: none;
        }
}


/* Profile  */

.footerProfile {
  margin: 20px 0 30px 15px;
  width: 15%;

}

.footerProfile li {
  padding-bottom: 8px;

   a {
 
  color: $secondary;
  font-size: 12px;
  text-decoration: none;


   }
}



/*  Newsletter  */

.footerNewsletter {
  margin: 10px 0 30px 0;


}

.footerNewsletter p { 
  color: $secondary;
  padding: 0;
  margin: 0;
  font-size: 12px;

}

.footerNewsletter input{
    margin: 20px 0 20px 0;
  }

  .footerNewsletter input[type=text] {
    width: 200px;
    border: none;
    color: $secondary;
    background-color: $primary;
    border-bottom: 1px $secondary solid;
    font-family: "poppins";
    font-size: 10px;
    line-height: 1.5rem;


  }






