@use "./variables";


.contactForm .input {
  display: inline-block;

}


.contactForm .input[type=text] {
 
  border: none;
  color: $secondary;
  background-color: $primary;
  border-bottom: 1px $secondary solid;
  font-family: "poppins";
  font-size: 10px;
  line-height: 1.5rem;


}

.contactForm .input[type=email] {
  width: 200px;
  border: none;
  color: $secondary;
  background-color: $primary;
  border-bottom: 1px $secondary solid;
  font-family: "poppins";
  font-size: 10px;
  line-height: 1.5rem;


}