/*this sheet will have all the styling for the whole sheet, so the wrapper, the font family if it's consistent, etc.*/


html {
  font-family: $headingFont
  font-size: 20px;
  font-weight: 500;
  color:  $primary;
  margin: 0;
  padding: 0;

}
