@import "./variables";



@media (max-width: 800px) {

  #mainMenu {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  
  #mainMenu.show {
    position:relative;
    display: inline-block;
  }
}
  





@media (max-width: 576px) {
  #mainMenu {
  display: none;
  flex-direction: column;
  width: 100%;
}

#mainMenu.show {
  display: flex;

}

.hamButton {
  display: block;
}
  nav {
      background-color: transparent;
  }
}

