@import "./variables";

/*Categories*/

main {
  section {
    margin-bottom: 90px;
  }
}


.categoryGallery {

  display: flex;
  justify-content: center;
  align-items: center;


}

.cat {
  margin: 0;
  position: relative;
}

.cat img {
  height: 400px;
  width: 100%;

}

.catOne {
  margin-right: 30px;

}

.catTwo {
  margin-right: 30px;
  margin-bottom: 30px;

}



.cat h3 {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  margin: 0;


}

.cat h3 span {
  background: #fff;
  color: #333;
  font-weight: 400;
  padding: 5px 10px;
}

          
          

/*Featured Sale Section*/


.featured h2 {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;

  
}



.featuredGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;

}

.product {
  position: relative;
  margin: 0;
  border: .5px #6666661b solid;
  margin: 0 20px 20px 0; 
  background-size: contain;
  background-repeat: none;
  height: 300px;
  width: 200px;
  
}

.product img {
  height: 250px;
  width: 100%;
}

.product span img {
  height: 30px;
  width: 30px;
  padding: 2px;
  border: .5px #6666661b solid;
  position: absolute;
  right: 10px;
  bottom: 10px;



}
  


.product h3 span {

    color: #fff;
    font-size: x-small;
    font-weight: 400;
    padding: 2px 4px;
    position: absolute;
    top: 10px;
    margin: 0;
    letter-spacing: 1px;
    background: #eba6aa;

  }

  .prodThree h3 span {
    background: #88cce2;

  }
  
  .product h4 {
    font-weight: 500;
    color:#333;
    position: absolute;
    bottom: 40px;
    left: 16px;
    font-size: 16px;
    margin: 0 0 -5px 0;
    
  }

  .product h5 {
    font-weight: 400;
    color: #666;
    position: absolute;
    bottom: 15px;
    left: 16px;
    font-size: 12px;
    margin: 0;
  }
  

  .product h5 span {
    text-decoration: line-through;
  
  }

.buttonOne {
  background-color: white;
  border: 2px #666666a5 solid;
  padding: 16px 32px;
  font-size: 14px;
  margin: auto;
  text-align: center;
  transition-duration: 0.4s; /*https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover*/
  cursor: pointer;

  }

.buttonOne:hover {
    background-color: #666; 
    border: 2px #666 solid;
    color: white;

  }
 
  

/*Sale Section*/

.saleGallery .sale {
  display: flex;
  flex-direction: row;

}

.saleOne img {


  height: 100%;
  width: 200px;

}

.saleTwo img {

  height: 100%;
  width: 400px;

}




/*Instagram Section*/

.igSection h2 {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 5px;
  
  }

.igSection h3 {
  text-align: center;
  margin-bottom: 40px;
  color: #666;
  font-weight: 500;
  font-size: 1rem;

}

  .igSection a {
  text-decoration: none;
}

.igFeed {
  display: flex;
  justify-content: center;
  align-items: center;

      li {
        padding-right: 10px;


      }

}

.igFeed img {
  height: 150px;
  width: 100%;
  margin: 0;
}