/*Categories*/

main {
  section {
    margin-bottom: 90px;
  }
}

.categories {

}

.categoryGallery {

  display: flex;
  justify-content: center;
  align-items: center;


}

.cat {
  margin: 0;
}

.cat img {
  height: 400px;
  width: 100%;

  
}

.catOne {
  position: relative;
  margin-right: 30px;

}

.catTwo {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
 
  

}

.catThree {
  position: relative;

  

}




.cat h3 {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  margin: 0;


}

.cat h3 span {
  background: #fff;
  color: #333;
  font-weight: 400;
  padding: 5px 10px;
}

          
          

/*Featured Sale*/

.featured h2 {
  text-align: center;
  margin-bottom: 40px;

  }
  
.featuredGallery ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

              li {
                list-style: none;
              

              a {
                list-style: none;

              }
            }

}




.prodOne {
  border: 2px #66666639 solid;
  background-image: url(/assets/prod-1.jpg);
  background-size: contain;
  height: 300px;
  width: 200px;
}
  
  .prodOne h3 span {
    background: #eba6aa;
    color: #fff;
    font-size: small;
    padding: 5px;
  }
  

.igfeed h2 {
    text-align: center;
    margin: 0 auto;
  
  }

.igfeed h3 {
  text-align: center;
  margin-bottom: 40px;
  text-decoration: none;
  cursor: pointer;

}



.igfeed {
  display: inline-block;

  justify-content: center;


      li {
        
        list-style: none;

      }
}

  .igfeed img {
    height: 100px;
    width: 100px;
    margin: 10px;
  }

/*.prod {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.prod1 {
  border: 2px solid #666;
  height: 300px;
  width: 200px;
}

.prod2 {
  border: 2px solid #fff;

}

.prod3 {
  border: 2px solid #fff;

}

.prod4 {
  border: 2px solid #fff;

}

.prod5 {
  border: 2px solid #fff;

}

.prod6 {
  border: 2px solid #fff;

}

.prod7 {
  border: 2px solid #fff;

}

.prod8 {
  border: 2px solid #fff;

}

.prod9 {
  border: 2px solid #fff;

}
.prod10 {
  border: 2px solid #fff;

}*/
